<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url_shortener.URL %>
</p>

<p>
  <strong>Shortendurl:</strong>
  https://damp-tundra-20526.herokuapp.com/<%= @url_shortener.ShortendURL %>
</p>

<%= button_to 'Back',  {controller: 'url_shorteners', action: 'home'}, :method => :get %>
